:root {
  --color0: #F9FDFB;
  --color1: #c5ebd6;
  --color2: #13a876;
  --color3: #16a813;
  --color4: #54a813;
  --color5: #92a813;
  --color6: #000000;
  --font0: Arial, Helvetica, sans-serif;
  --font1: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color5);
  font: var(--font0);
  display: flex;
  flex-direction: column;
}

/* ------------------ Header ------------------ */

header {
  background-image: linear-gradient(to top, #13a843, #13a876);
  padding: 15px;
  text-align: center;
}

header a:link,
header a:visited {
  color: var(--color0);
  padding: 10px 50px;
  border-radius: 12px;
  text-decoration: none;
}

header a:hover {
  color: var(--color6);
  background: var(--color0);
}

.main-title {
  font: var(--font1);
  font-size: 2.9em;
  color: var(--color0);
  padding: 10px;
  text-shadow: 3px 2px 2px var(--color6);
  text-transform: uppercase;
}

#menu {
  padding: 10px;
}


/* ------------------ Container/Formulário ------------------ */

.container {
  min-width: 400px;
  max-width: 600px;
  background-color: var(--color0);
  margin: auto;
  padding: 20px;
  color: var(--color6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px var(--color6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  padding: 30px;
}

#btn-enviar {
  width: 100%;
  margin-top: 20px;
  float: none;
}

.field,
.field-name {
  margin-bottom: 20px;
}

/* Campos específicos */

#nome {
  width: 61%;
}

#email {
  width: 30%;
}

#field-telefone {
  width: 20%;
}

#nbI {
  width: 10%;
}

#btn-enviar {
  padding: 10px;
  float: right;
}

/* ------------------ Sobre ------------------ */
#container-sobre {
  flex: 1;
  text-align: center;
  padding: 100px;
}

.texto {
  margin: 150px 0px;
  font-size: 1.5em;
  padding: 60px;
}

/* ------------------ Consulta ------------------ */
#consulta {
  text-align: center;
}

.container-consulta {
  background-color: var(--color5);
  border-radius: 5px;
  padding: 20px;
  flex: 1;
}

.canvasGraph {
  width: 100%;
  max-width: 900px;
  height: 600px;
  margin: 20px auto;
  position: relative;
}

.canvasGraph canvas {
  width: 100% !important;
  height: 100% !important;
}

/* ------------------ Footer ------------------ */

footer {
  background-color: var(--color3);
  padding: 20px;
  text-align: center;
  color: var(--color0);
  text-transform: uppercase;
  margin-top: auto;
}

/* ------------------ Responsividade ------------------ */

@media (max-width: 768px) {

  header a:link,
  header a:visited {
    color: var(--color6);
    background: var(--color0);
    padding: 5px 20px;
  }

  .container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 80vh !important;
    width: 100% !important;
    padding: 0px !important;
    box-sizing: border-box !important;
  }

  #email {
    width: 60%;
  }

  #field-telefone {
    width: 50%;
  }

  #btn-enviar {
    width: 100%;
    margin-top: 20px;
    float: none;
  }

  #container-sobre {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 80vh !important;
    width: 100% !important;
    padding: 0px !important;
    box-sizing: border-box !important;
  }

  .texto {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
  }

  .texto p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  footer {
    font-size: 8px;
  }
}